[data-theme='apollo-10-1-2'][data-mode='dark'] {
  --bg: #0d1426;
  --bg-surface: #223366;
  --bg-elevated: #2c4180;
  --text: #f4f1ec;
  --text-muted: #e1dbd5;
  --text-subtle: #d5dcee;
  --border: #9e8b97;
  --accent: #96b2e5;
  --accent-hover: oklch(from var(--accent) calc(l + 0.1) c h);
  --accent-fg: #000000;
  --focus-ring: #70b0e0;
}

[data-theme='apollo-10-1-2'][data-mode='light'] {
  --bg: #f4f1ec;
  --bg-surface: #e8e2d8;
  --bg-elevated: #d4ccc0;
  --text: #0d1426;
  --text-muted: #4f361a;
  --text-subtle: #493444;
  --border: #76636f;
  --accent: #28537e;
  --accent-hover: oklch(from var(--accent) calc(l - 0.1) c h);
  --accent-fg: #f4f1ec;
  --focus-ring: var(--accent);
}
