[data-theme='before-sunset'][data-mode='dark'] {
  --text: #e8e5d7;
  --text-muted: #e6c99a;
  --accent: #d7974f;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #000000;
}

[data-theme='before-sunset'][data-mode='light'] {
  --text: #050404;
  --text-muted: #2f221a;
  --accent: #7a3f15;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #e8e5d7;
}
