[data-theme='before-midnight'][data-mode='dark'] {
  --text: #e8dccd;
  --text-muted: #cee1dc;
  --accent: #ebb327;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #1c2c38;
}

[data-theme='before-midnight'][data-mode='light'] {
  --text: #20303d;
  --text-muted: #323223;
  --accent: #562315;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #ffffff;
}
