[data-theme='before-sunrise'][data-mode='dark'] {
  --bg: #3c1e0e;
  --bg-surface: #6a3c22;
  --bg-elevated: #7a4e30;
  --bg-input: #6a3c22;
  --text: #fefef9;
  --text-muted: #f0dcc0;
  --text-subtle: #f0cea0;
  --border: #d19e7d;
  --accent: #ecc7b3;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #000000;
}

[data-theme='before-sunrise'][data-mode='light'] {
  --bg: #f3ecd3;
  --bg-surface: #dcc8a4;
  --bg-elevated: #c8a870;
  --bg-input: #f3ecd3;
  --text: #341b0d;
  --text-muted: #2b1f0a;
  --text-subtle: #2c200b;
  --border: #6e5624;
  --accent: #623618;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #f3ecd3;
}
