[data-theme='boyhood'][data-mode='dark'] {
  --text: #e8e7c3;
  --text-muted: #e0ebac;
  --accent: #aacb50;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #0d150d;
}

[data-theme='boyhood'][data-mode='light'] {
  --text: #0d150d;
  --text-muted: #1e2a0a;
  --accent: #5a2d29;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #ffffff;
}
