[data-theme='dazed-and-confused'][data-mode='dark'] {
  --bg: #2a201d;
  --bg-surface: #7a3028;
  --text: #f3f0ed;
  --text-muted: #ede392;
  --text-subtle: #c8e6f2;
  --border: #18a0c8;
  --accent: #e9a4ae;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #000000;
}

[data-theme='dazed-and-confused'][data-mode='light'] {
  --bg: #f3f0ed;
  --bg-surface: #e79d7f;
  --text: #2a201d;
  --text-muted: #421410;
  --text-subtle: #192526;
  --border: #7a5518;
  --accent: #7e1f1f;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #f3f0ed;
}
