:root {
  --bg: #0f0b1b;
  --bg-surface: #201e43;
  --bg-elevated: #3b376a;
  --bg-input: #201e43;
  --text: #eeeedf;
  --text-muted: #d58c32;
  --text-subtle: #8db030;
  --border: #47419d;
  --accent: #c03812;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #eeeedf;
  --theme-transition-duration: 80ms;
  --theme-transition-easing: ease;
}
