[data-theme='hit-man'][data-mode='dark'] {
  --text: #f8eae2;
  --text-muted: #f0efbe;
  --accent: #f2b186;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #000000;
}

[data-theme='hit-man'][data-mode='light'] {
  --text: #1a150e;
  --text-muted: #201508;
  --accent: #70180d;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #ffffff;
}
