[data-theme='hit-man'][data-mode='dark'] {
  --bg: #1a150e;
  --bg-surface: #4e2c14;
  --bg-elevated: #594c3f;
  --bg-input: #4e2c14;
  --text: #efb88e;
  --text-muted: #eba622;
  --text-subtle: #988679;
  --border: #7c421d;
  --accent: #cc310d;
  --accent-hover: oklch(from var(--accent) calc(l + 0.12) c h);
  --accent-fg: #ffffff;
}

[data-theme='hit-man'][data-mode='light'] {
  --bg: #efb88e;
  --bg-surface: #988679;
  --bg-elevated: #eba622;
  --bg-input: #efb88e;
  --text: #1a150e;
  --text-muted: #4e2c14;
  --text-subtle: #4a4245;
  --border: #7c421d;
  --accent: #cc310d;
  --accent-hover: oklch(from var(--accent) calc(l - 0.12) c h);
  --accent-fg: #ffffff;
}
