@import 'tailwindcss';
@import './theme/styles/default.css';
@import './theme/styles/before-midnight.css';
@import './theme/styles/before-sunrise.css';
@import './theme/styles/before-sunset.css';
@import './theme/styles/boyhood.css';
@import './theme/styles/dazed-and-confused.css';
@import './theme/styles/hit-man.css';
@import './theme/styles/scanner-darkly.css';
@import './theme/styles/school-of-rock.css';

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
  }
}
