@import 'tailwindcss';
@import './themes/default.css';
@import './themes/before-midnight.css';
@import './themes/before-sunrise.css';
@import './themes/before-sunset.css';
@import './themes/boyhood.css';
@import './themes/dazed-and-confused.css';
@import './themes/hit-man.css';
@import './themes/scanner-darkly.css';
@import './themes/school-of-rock.css';

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
  }
}
