@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }

  [data-theme='dark'] body {
    @apply bg-slate-950 text-slate-50;
  }
}
